article{
	width: 900px;
	height: 500px;
	border - top: 1px solid gray;
	padding - top: 15px;
	padding-bottom: 15px;
	text-align: justify;


}

img{
	width: 300px;
	height: 400px;
	float: left;
	margin-right: 20px;
}


.cau1{
	text-decoration: none;
	color: blue;
	font-size: 15px;
	 	
	}
	.cau2{
	text-decoration: none;
	color: black;
	font-size: 20px;
	
	}
.lienket a{
	text-decoration: none;

	}
	.cau3 a{
		text-decoration: none;
		font-size: 12px;
	}
