
}

article{

	width: 250px;
	height: 200px;
	float: lefts;
	
	
	




    
   
	


}
img{
	width: 150px;


}
a{
	color: black;
	text-decoration: none;
	font-size: 20px;
	
	
	}
	a:hover{
		color: red;
		}

